<div class="home-wrapper">
  <mat-toolbar color="primary" class="nav">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Ride2Work</h1>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav #drawer class="sidenav" mode="side">
      <mat-nav-list class="sidenav-list">
        <mat-form-field>
          <input matInput placeholder="Name" readonly value="{{userName}}">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Surname" readonly value="{{userSurname}}">
        </mat-form-field>
        <a mat-list-item>Upload ride</a>
        <a mat-list-item (click)="rideHistory()">View rides history</a>
        <a mat-list-item (click)="editUser()">Edit profile</a>
        <a mat-list-item (click)="logout()">Log out</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
