<div class="vh-100 w-100 d-flex flex-column">
  <mat-toolbar color="primary" class="nav">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Ride2Work</h1>
  </mat-toolbar>
  <mat-sidenav-container class="w-100 h-100 mw-100 d-flex" autosize>
    <mat-sidenav #drawer class="p-3" mode="side">
      <mat-nav-list class="d-flex flex-column">
        <mat-form-field>
          <input matInput placeholder="Name" readonly value="{{userName}}">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Surname" readonly value="{{userSurname}}">
        </mat-form-field>
        <a mat-list-item>Upload ride</a>
        <a mat-list-item (click)="rideHistory()">View rides history</a>
        <a mat-list-item (click)="editUser()">Edit profile</a>
        <a mat-list-item (click)="logout()">Log out</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="col overflow-auto p-0">
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
