<div class="container-fluid">
  <div class="col align-items-center">
    <div class="row justify-content-center">
      <div class="mt-5 bg-white form-card mat-elevation-z8">
        <div class="p-5">
          <div class="login-logo">
            <i class="material-icons">directions_bike</i>
          </div>
          <h2 class="text-center mb-5">Ride2Work</h2>
          <form [formGroup]="options" (ngSubmit)="login()">
            <mat-form-field class="w-100">
              <input matInput placeholder="Login" formControlName="username">
            </mat-form-field>

            <mat-form-field class="w-100">
              <input matInput placeholder="Password" type="password" formControlName="password">
            </mat-form-field>

            <app-spinner-button text="LOGIN" fontSize="1em" [loading]="loading"></app-spinner-button>
          </form>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <button mat-button class="mt-3" (click)="register()">Register</button>
    </div>
  </div>
</div>
