<div class="container-fluid">
  <div class="col align-items-center">
    <div class="row justify-content-center">
      <mat-card class="form-card">
        <mat-card-content class="form-card-content">
          <h2 class="form-card-header">Register</h2>
          <form>
            <mat-form-field class="form-card-field">
              <input matInput placeholder="Login" [(ngModel)]="username" name="username">
            </mat-form-field>

            <mat-form-field class="form-card-field">
              <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password">
            </mat-form-field>

            <mat-form-field class="form-card-field">
              <input matInput placeholder="First name" [(ngModel)]="firstName" name="firstName">
            </mat-form-field>

            <mat-form-field class="form-card-field">
              <input matInput placeholder="Last name" [(ngModel)]="lastName" name="lastName">
            </mat-form-field>

            <mat-form-field class="form-card-field">
              <input matInput placeholder="E-mail" [(ngModel)]="email" name="email">
            </mat-form-field>

            <button mat-raised-button color="primary" class="form-card-button" (click)="register()">
              REGISTER
              <div class="spinner-container">
                <mat-progress-spinner *ngIf="loading" class="spinner" mode="indeterminate" diameter="25" color="accent"></mat-progress-spinner>
              </div>
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
