<app-menu>
  <div class="row h-50 m-0 pt-2 px-2">
    <div class="h-100 w-100 mat-elevation-z8">
      <here-map #hereMap width="100%" height="100%"></here-map>
    </div>
  </div>
  <div class="row m-0 p-2">
    <app-spinner-button text="Upload ride" [loading]="buttonLoading" (click)="fileUpload.click()"></app-spinner-button>
    <input #fileUpload type="file" id="upload-file" (change)="uploadRide($event.target.files)" hidden>
  </div>
  <div class="row m-0 p-2">
    <div class="col m-0 p-0 mat-elevation-z8 position-relative">
      <app-throbber [visible]="dataLoading"></app-throbber>
      <div class="mw-100 overflow-auto">
        <table mat-table class="w-100" [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No.</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="averageSpeed">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Distance [m]</th>
            <td mat-cell *matCellDef="let element"> {{element.distance}} </td>
          </ng-container>

          <ng-container matColumnDef="maxSpeed">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Time [s]</th>
            <td mat-cell *matCellDef="let element"> {{element.timeInSeconds}} </td>
          </ng-container>

          <ng-container matColumnDef="distance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Max speed [km/h]</th>
            <td mat-cell *matCellDef="let element"> {{element.maxSpeed}} </td>
          </ng-container>

          <ng-container matColumnDef="timeInSeconds">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Average speed [km/h]</th>
            <td mat-cell *matCellDef="let element"> {{element.averageSpeed}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumns;"
              (click)="hereMap.showRoute(row)"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</app-menu>
